html {
  font-size: 62.5%;
  scroll-padding-top: 7vh;
  --smallnavheight: 30vh;
  --largenavheight: 7vh;
  --asidebackground: white;
  --asidecolor: black;
}

body {
  color: black;
  font-size: 2rem;
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/*STICKY NAVIGATION BAR*/
.navigationbar {
  background-color: rgb(14, 14, 14);
  width: 100vw;
  height: var(--largenavheight);
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  z-index: 1;
}

.navigationbar__img {
  position: absolute;
  height: 100%;
}

.navigationbar__nav {
  font-weight: 800;
  display: flex;
  flex-direction: row;
  margin-right: 3rem;
}

.navigationbar__nav a {
  padding: 2vh 1rem;
  transition: border-color 0.15s, box-shadow 0.15s;
  color: rgb(215, 215, 215);
}

.wrapper {
  padding-top: var(--largenavheight);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding-top: 10vh;
}

form {
  width: 55%;
  padding: 2rem;
  text-align: center;
}

button {
  width: 100%;
  background-color: #0d6efd;
  color: #fff;
  border: 0;
  border-radius: 2rem;
  margin: auto;
  cursor: pointer;
}

button:hover {
  background: #0759d3;
}

input[type="text"] {
  height: 40vh;
}

input[type="email"],
input[type="text"] {
  border: 1px solid #ccc;
  transition: border-color 0.15s, box-shadow 0.15s;
  border-radius: 1 rem;
}

input[type="email"]:focus,
input[type="text"]:focus {
  border-color: #7db0fb;
  box-shadow: 0 0 0 4px rgba(24, 117, 255, 0.25);
}

/*RESPONSIVE DESIGN: MEDIA QUERIES*/
@media (hover) {
  /*If the device can hover as its primary pointer, then this will activate*/
  .navigationbar__nav a:hover {
    background-color: rgb(39, 39, 39);
    border-color: #7db0fb;
    color: white;
    box-shadow: 0 0 10px 10px rgba(24, 117, 255, 0.25);
    border-radius: 2rem;
  }
  .navigationbar__nav a:visited {
    background-color: rgb(14, 14, 14);
    border-color: rgb(14, 14, 14);
    color: rgb(215, 215, 215);
    box-shadow: rgb(14, 14, 14);
    border-radius: 0rem;
  }
}

@media screen and (max-width: 980px) {
}

@media screen and (max-width: 768px) {
  html {
    scroll-padding-top: var(--smallnavheight);
  }

  .wrapper {
    padding-top: var(--smallnavheight);
  }

  .navigationbar {
    height: var(--smallnavheight);
    justify-content: center;
    align-items: center;
  }

  .navigationbar__nav {
    line-height: 1;
    margin-right: 0;
    font-size: 3rem;
    font-weight: 700;
    flex-direction: column;
    text-align: center;
  }

  .navigationbar__img {
    display: none;
  }

  .navigationbar__nav a {
    padding: 1vh 0rem;
  }

  form {
    width: 75%;
  }
}
