html {
  font-size: 62.5%;
  scroll-padding-top: 7vh;
}

body {
  color: black;
  font-size: 1.5rem;
  margin: 0;
  width: 100vw;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/*STICKY NAVIGATION BAR*/
header {
  background-color: rgb(14, 14, 14);
  width: 100vw;
  height: 7vh;
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
}

.logo {
  position: absolute;
  height: 100%;
}

.navigationbar {
  font-weight: 800;
  display: flex;
  flex-direction: row;
  margin-right: 3rem;
}

nav a {
  padding: 2vh 1rem;
  transition: border-color 0.15s, box-shadow 0.15s;
  color: rgb(215, 215, 215);
}

nav a:hover {
  background-color: rgb(39, 39, 39);
  border-color: #7db0fb;
  color: white;
  box-shadow: 0 0 10px 10px rgba(24, 117, 255, 0.25);
  border-radius: 1rem;
}

/*HEADER CONTROL*/
h1,
h2,
h3,
h4 {
  margin: 0;
}

/*HERO*/
.wrapper {
  padding-top: 7vh; /*is there a more robust way of doing this? if i change
  the nav bar size then this doesnt adjust automatically*/
  text-align: center;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
}

.hero-banner {
  height: 40vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.hero-identity {
  padding-right: 5vw;
  padding-bottom: 23vh;
}

.hero-banner h1 {
  font-weight: 800;
}

main {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.div__main {
  flex: 3 3 75%;
  display: flex;
  flex-direction: column;
}

#about_me {
  flex: 1 1 50%;
  text-align: center;
  background-color: rgb(165, 48, 165);
  display: inline-block;
}

.gallery {
  /*Ideally i would like to center this vertically in the container
  margin: 3rem 0rem 0rem 64rem;*/
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 1rem;
  width: 30%;
  display: grid;
  grid-template-columns: repeat(3, 102px);
  grid-template-rows: repeat(3, 102px);
  align-content: center;
  justify-content: center;
  align-items: stretch;
  justify-items: stretch;
}

.gallery__image {
  margin: 1rem;
}

#work {
  flex: 1 1 50%;
  text-align: center;
  background-color: rgb(252, 87, 87);
  display: inline-block;
}

aside {
  flex: 1 1 25%;
  text-align: center;
  height: 100%;
  float: right; /*should i have done this with flexbox or grid instead?*/
  background-color: rgb(58, 58, 243);
}

footer {
  background-color: black;
  height: 40vh;
  width: 100vw;
  color: white;
  padding-top: 2vh;
  padding-left: 2vw;
  font-weight: 1000;
}

/*IMAGES*/

.hero-banner {
  background-image: url("../Images/pexels-pixabay-270348.jpg");
  background-size: cover;
  background-position: right;
}

.hero-photo {
  height: 100%;
}

/*RESPONSIVE DESIGN: MEDIA QUERIES*/
@media screen and (max-width: 980px) {
}

@media screen and (max-width: 768px) {
  html {
    scroll-padding-top: 25vh;
  }

  header {
    height: 25vh;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
  }

  .navigationbar {
    line-height: 1;
    margin-right: 0;
    font-size: 3rem;
    font-weight: 700;
    flex-direction: column;
    text-align: center;
  }

  .logo {
    display: none;
  }

  nav a {
    padding: 1vh 0rem;
  }

  .wrapper {
    padding-top: 25vh;
  }

  .hero-banner {
    height: 100%;
  }

  .hero-identity {
    display: none;
    padding-right: 0vw;
    padding-bottom: 0vh;
  }

  main {
    display: flex;
    flex-direction: column;
    height: 200vh;
  }

  .div__main {
    flex: 0 0 75%;
  }

  aside {
    flex: 0 0 25%;
    float: none;
  }
}
